body{
    font-family: Arial; 
    overflow-y: hidden;
    display: flex;
    height: 100vh;
    font-size: 62.5%;
}

.conteiner-conf {
    width: 700px;
    display: flex;
    margin: auto;
    padding: 0 2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    justify-content: space-around;
}
.conf-temp p{
    font-weight: 500;
    font-size: 20px;
}

.conf-temp input{
    font-size: 20px;
    width: 50%;
    margin-left: 30px;
    text-align: center;
}

.info{
    color: #2962D6;
    font-weight: 600;
    font-size: 20px;
}

.controles p{
    font-size: 15px;
    padding-bottom: 15px;
}

#espaco{
    margin-bottom: 30px; 
} 
.conf-temp > button[type="submit"]{
    color: #ffffff;
    border: none;
    width: 40%;
    height: 40px;
    margin-left: 50px;
    font-size: 20px;
    background-color: #2962D6;
    border-radius: 5px;
}